{% extends "polls/base.html" %}

{% block title %}
Polls Home Page
{% endblock %}
{% block h1 %}
Polls Home Page
{% endblock %}
{% block content %}
{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}" style="color: black;">
            <font size="+4">{{ question.question_text }}</font>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>
    <font size="+3">No polls are available.</font>
</p>
{% endif %}
{% endblock %}
